
/* ::::: http://help.messagebird.com/assets/application-e5ebf49e147be4b1fc41fefeb1128c0bd05e171d205bf978d82847540bd13423.css ::::: */

html { color: rgb(34, 34, 34); font-size: 1em; line-height: 1.4; }
*::-moz-selection { background: rgb(179, 212, 252) none repeat scroll 0% 0%; text-shadow: none; }
hr { display: block; height: 1px; border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(204, 204, 204) -moz-use-text-color -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin: 1em 0px; padding: 0px; }
audio, canvas, iframe, img, svg, video { vertical-align: middle; }
fieldset { border: 0px none; margin: 0px; padding: 0px; }
textarea { resize: vertical; }
html { font-family: sans-serif; box-sizing: border-box; height: 100%; min-height: 100%; }
html *, html *::before, html *::after { box-sizing: inherit; }
body { font-family: "proxima-nova","proxima-nova-all","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 16px; line-height: 1.6; color: rgb(86, 88, 103); font-weight: 400; background: rgb(243, 245, 247) none repeat scroll 0% 0%; display: flex; flex-direction: column; margin: 0px; height: 100%; min-height: 100%; }
img, video, svg { max-width: 100%; }
a { color: inherit; }
a:hover { text-decoration: none; }
.container { padding-left: 40px; padding-right: 40px; }
@media (max-width: 767px) {
  .container { padding-left: 40px; padding-right: 40px; }
}
@media (max-width: 600px) {
  .container { padding-left: 20px; padding-right: 20px; }
}
.content { max-width: 100%; width: 900px; margin-left: auto; margin-right: auto; }
.content__narrow { width: 640px; }
h1, h2, h3, h4, h5, h6 { line-height: 1.24; font-weight: 400; color: rgb(58, 60, 76); }
.intercom-messenger-auto-opened .intercom-sheet-header-close-button, .intercom-messenger-auto-opened .intercom-sheet-header-minimize-button, .intercom-messenger-auto-opened .intercom-launcher-button { display: none; }
.mo { display: flex; align-items: flex-start; }
.mo.o__centered { align-items: center; }
.mo.o__reversed > .mo__aside { order: 1; margin: 0px 0px 0px 1em; }
.mo__body { flex: 1 1 0%; min-width: 0px; position: relative; }
.mo__aside { margin-right: 1rem; }
[type="text"], [type="email"], [type="number"], textarea { font-family: "proxima-nova","proxima-nova-all","Helvetica Neue",Helvetica,Arial,sans-serif; }
.t__h1 { margin: 0px 0px 17px; font-size: 33px; font-weight: normal; }
.t__h2 { margin: 0px 0px 2px; font-size: 22px; }
.t__h3 { margin: -5px 0px 2px; font-size: 18px; }
.t__small { font-size: 14px; }
.t__h4 { font-size: 18px; }
.t__h4-section { position: relative; top: 12px; }
@media (max-width: 600px) {
  .t__h1 { font-size: 34px; }
  .t__h2 { font-size: 30px; }
}
.t__no-und { text-decoration: none; }
.c__light { color: rgb(143, 145, 157); }
.c__body-2 { color: rgb(86, 88, 103); }
.c__secondary { color: rgb(107, 110, 133); }
.c__darker { color: rgb(79, 94, 107); }
.g__row { display: flex; flex: 0 1 auto; flex-flow: row wrap; margin: -26px -13px 0px; }
.no-flexbox .g__row::before, .no-flexbox .g__row::after { content: " "; display: table; }
.no-flexbox .g__row::after { clear: both; }
.g__row + .g__row { margin-top: 0px; }
[class^="g__c"], [class*=" g__c"] { padding: 26px 13px 0px; flex: 0 0 auto; display: flex; }
.g__c1 { flex-basis: 8.33333%; width: 8.33333%; }
.no-flexbox .g__c1 { float: left; }
.g__c2 { flex-basis: 16.6667%; width: 16.6667%; }
.no-flexbox .g__c2 { float: left; }
.g__c3 { flex-basis: 25%; width: 25%; }
.no-flexbox .g__c3 { float: left; }
.g__c4 { flex-basis: 33.3333%; width: 33.3333%; }
.no-flexbox .g__c4 { float: left; }
.g__c5 { flex-basis: 41.6667%; width: 41.6667%; }
.no-flexbox .g__c5 { float: left; }
.g__c6 { flex-basis: 50%; width: 50%; }
.no-flexbox .g__c6 { float: left; }
.g__c7 { flex-basis: 58.3333%; width: 58.3333%; }
.no-flexbox .g__c7 { float: left; }
.g__c8 { flex-basis: 66.6667%; width: 66.6667%; }
.no-flexbox .g__c8 { float: left; }
.g__c9 { flex-basis: 75%; width: 75%; }
.no-flexbox .g__c9 { float: left; }
.g__c10 { flex-basis: 83.3333%; width: 83.3333%; }
.no-flexbox .g__c10 { float: left; }
.g__c11 { flex-basis: 91.6667%; width: 91.6667%; }
.no-flexbox .g__c11 { float: left; }
.g__c12 { flex-basis: 100%; width: 100%; }
.no-flexbox .g__c12 { float: left; }
@media (max-width: 600px) {
  .g__c1--sm { flex-basis: 8.33333%; width: 8.33333%; }
  .no-flexbox .g__c1--sm { float: left; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .g__c1--md { flex-basis: 8.33333%; width: 8.33333%; }
  .no-flexbox .g__c1--md { float: left; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .g__c1--lg { flex-basis: 8.33333%; width: 8.33333%; }
  .no-flexbox .g__c1--lg { float: left; }
}
@media (min-width: 1601px) {
  .g__c1--xlg { flex-basis: 8.33333%; width: 8.33333%; }
  .no-flexbox .g__c1--xlg { float: left; }
}
@media (max-width: 600px) {
  .g__c2--sm { flex-basis: 16.6667%; width: 16.6667%; }
  .no-flexbox .g__c2--sm { float: left; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .g__c2--md { flex-basis: 16.6667%; width: 16.6667%; }
  .no-flexbox .g__c2--md { float: left; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .g__c2--lg { flex-basis: 16.6667%; width: 16.6667%; }
  .no-flexbox .g__c2--lg { float: left; }
}
@media (min-width: 1601px) {
  .g__c2--xlg { flex-basis: 16.6667%; width: 16.6667%; }
  .no-flexbox .g__c2--xlg { float: left; }
}
@media (max-width: 600px) {
  .g__c3--sm { flex-basis: 25%; width: 25%; }
  .no-flexbox .g__c3--sm { float: left; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .g__c3--md { flex-basis: 25%; width: 25%; }
  .no-flexbox .g__c3--md { float: left; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .g__c3--lg { flex-basis: 25%; width: 25%; }
  .no-flexbox .g__c3--lg { float: left; }
}
@media (min-width: 1601px) {
  .g__c3--xlg { flex-basis: 25%; width: 25%; }
  .no-flexbox .g__c3--xlg { float: left; }
}
@media (max-width: 600px) {
  .g__c4--sm { flex-basis: 33.3333%; width: 33.3333%; }
  .no-flexbox .g__c4--sm { float: left; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .g__c4--md { flex-basis: 33.3333%; width: 33.3333%; }
  .no-flexbox .g__c4--md { float: left; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .g__c4--lg { flex-basis: 33.3333%; width: 33.3333%; }
  .no-flexbox .g__c4--lg { float: left; }
}
@media (min-width: 1601px) {
  .g__c4--xlg { flex-basis: 33.3333%; width: 33.3333%; }
  .no-flexbox .g__c4--xlg { float: left; }
}
@media (max-width: 600px) {
  .g__c5--sm { flex-basis: 41.6667%; width: 41.6667%; }
  .no-flexbox .g__c5--sm { float: left; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .g__c5--md { flex-basis: 41.6667%; width: 41.6667%; }
  .no-flexbox .g__c5--md { float: left; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .g__c5--lg { flex-basis: 41.6667%; width: 41.6667%; }
  .no-flexbox .g__c5--lg { float: left; }
}
@media (min-width: 1601px) {
  .g__c5--xlg { flex-basis: 41.6667%; width: 41.6667%; }
  .no-flexbox .g__c5--xlg { float: left; }
}
@media (max-width: 600px) {
  .g__c6--sm { flex-basis: 50%; width: 50%; }
  .no-flexbox .g__c6--sm { float: left; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .g__c6--md { flex-basis: 50%; width: 50%; }
  .no-flexbox .g__c6--md { float: left; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .g__c6--lg { flex-basis: 50%; width: 50%; }
  .no-flexbox .g__c6--lg { float: left; }
}
@media (min-width: 1601px) {
  .g__c6--xlg { flex-basis: 50%; width: 50%; }
  .no-flexbox .g__c6--xlg { float: left; }
}
@media (max-width: 600px) {
  .g__c7--sm { flex-basis: 58.3333%; width: 58.3333%; }
  .no-flexbox .g__c7--sm { float: left; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .g__c7--md { flex-basis: 58.3333%; width: 58.3333%; }
  .no-flexbox .g__c7--md { float: left; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .g__c7--lg { flex-basis: 58.3333%; width: 58.3333%; }
  .no-flexbox .g__c7--lg { float: left; }
}
@media (min-width: 1601px) {
  .g__c7--xlg { flex-basis: 58.3333%; width: 58.3333%; }
  .no-flexbox .g__c7--xlg { float: left; }
}
@media (max-width: 600px) {
  .g__c8--sm { flex-basis: 66.6667%; width: 66.6667%; }
  .no-flexbox .g__c8--sm { float: left; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .g__c8--md { flex-basis: 66.6667%; width: 66.6667%; }
  .no-flexbox .g__c8--md { float: left; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .g__c8--lg { flex-basis: 66.6667%; width: 66.6667%; }
  .no-flexbox .g__c8--lg { float: left; }
}
@media (min-width: 1601px) {
  .g__c8--xlg { flex-basis: 66.6667%; width: 66.6667%; }
  .no-flexbox .g__c8--xlg { float: left; }
}
@media (max-width: 600px) {
  .g__c9--sm { flex-basis: 75%; width: 75%; }
  .no-flexbox .g__c9--sm { float: left; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .g__c9--md { flex-basis: 75%; width: 75%; }
  .no-flexbox .g__c9--md { float: left; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .g__c9--lg { flex-basis: 75%; width: 75%; }
  .no-flexbox .g__c9--lg { float: left; }
}
@media (min-width: 1601px) {
  .g__c9--xlg { flex-basis: 75%; width: 75%; }
  .no-flexbox .g__c9--xlg { float: left; }
}
@media (max-width: 600px) {
  .g__c10--sm { flex-basis: 83.3333%; width: 83.3333%; }
  .no-flexbox .g__c10--sm { float: left; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .g__c10--md { flex-basis: 83.3333%; width: 83.3333%; }
  .no-flexbox .g__c10--md { float: left; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .g__c10--lg { flex-basis: 83.3333%; width: 83.3333%; }
  .no-flexbox .g__c10--lg { float: left; }
}
@media (min-width: 1601px) {
  .g__c10--xlg { flex-basis: 83.3333%; width: 83.3333%; }
  .no-flexbox .g__c10--xlg { float: left; }
}
@media (max-width: 600px) {
  .g__c11--sm { flex-basis: 91.6667%; width: 91.6667%; }
  .no-flexbox .g__c11--sm { float: left; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .g__c11--md { flex-basis: 91.6667%; width: 91.6667%; }
  .no-flexbox .g__c11--md { float: left; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .g__c11--lg { flex-basis: 91.6667%; width: 91.6667%; }
  .no-flexbox .g__c11--lg { float: left; }
}
@media (min-width: 1601px) {
  .g__c11--xlg { flex-basis: 91.6667%; width: 91.6667%; }
  .no-flexbox .g__c11--xlg { float: left; }
}
@media (max-width: 600px) {
  .g__c12--sm { flex-basis: 100%; width: 100%; }
  .no-flexbox .g__c12--sm { float: left; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .g__c12--md { flex-basis: 100%; width: 100%; }
  .no-flexbox .g__c12--md { float: left; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .g__c12--lg { flex-basis: 100%; width: 100%; }
  .no-flexbox .g__c12--lg { float: left; }
}
@media (min-width: 1601px) {
  .g__c12--xlg { flex-basis: 100%; width: 100%; }
  .no-flexbox .g__c12--xlg { float: left; }
}
.g__space + .g__space { margin-top: 16px; }
.g__space + .g__space:empty { margin-top: 0px; }
.g__space-lite + .g__space-lite { margin-top: 15px; }
.u__hidden { display: none ! important; }
@media (max-width: 600px) {
  .u__hidden--sm { display: none ! important; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .u__hidden--md { display: none ! important; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .u__hidden--lg { display: none ! important; }
}
@media (min-width: 1601px) {
  .u__hidden--xlg { display: none ! important; }
}
.u__cf::before, .u__cf::after { content: " "; display: table; }
.u__cf::after { clear: both; }
@media (max-width: 600px) {
  .u__cf--sm::before, .u__cf--sm::after { content: " "; display: table; }
  .u__cf--sm::after { clear: both; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .u__cf--md::before, .u__cf--md::after { content: " "; display: table; }
  .u__cf--md::after { clear: both; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .u__cf--lg::before, .u__cf--lg::after { content: " "; display: table; }
  .u__cf--lg::after { clear: both; }
}
@media (min-width: 1601px) {
  .u__cf--xlg::before, .u__cf--xlg::after { content: " "; display: table; }
  .u__cf--xlg::after { clear: both; }
}
.u__left { float: left; }
@media (max-width: 600px) {
  .u__left--sm { float: left; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .u__left--md { float: left; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .u__left--lg { float: left; }
}
@media (min-width: 1601px) {
  .u__left--xlg { float: left; }
}
.u__right { float: right; }
@media (max-width: 600px) {
  .u__right--sm { float: right; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .u__right--md { float: right; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .u__right--lg { float: right; }
}
@media (min-width: 1601px) {
  .u__right--xlg { float: right; }
}
.u__reset { margin: 0px; padding: 0px; list-style: outside none none; }
.u__block { display: block; }
.u__inline-block { display: inline-block; }
.u__flex { display: flex; }
.u__flex-center { display: flex; align-items: center; }
.u__last-item { margin-bottom: 0px; }
.u__relative { position: relative; }
.u__full-width { width: 100%; }
.sp__1 { display: block; height: 10px; }
.sp__2 { display: block; height: 20px; }
.sp__3 { display: block; height: 30px; }
.sp__4 { display: block; height: 40px; }
.sp__5 { display: block; height: 50px; }
.sp__6 { display: block; height: 60px; }
.sp__7 { display: block; height: 70px; }
.sp__8 { display: block; height: 80px; }
.sp__9 { display: block; height: 90px; }
.sp__10 { display: block; height: 100px; }
.sp__11 { display: block; height: 110px; }
.sp__12 { display: block; height: 120px; }
.sp__13 { display: block; height: 130px; }
.sp__14 { display: block; height: 140px; }
.sp__15 { display: block; height: 150px; }
.sp__16 { display: block; height: 160px; }
.sp__17 { display: block; height: 170px; }
.sp__18 { display: block; height: 180px; }
.sp__19 { display: block; height: 190px; }
.sp__20 { display: block; height: 200px; }
@media (max-width: 600px) {
  .sp__1--sm { display: block; height: 10px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__1--md { display: block; height: 10px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__1--lg { display: block; height: 10px; }
}
@media (min-width: 1601px) {
  .sp__1--xlg { display: block; height: 10px; }
}
@media (max-width: 600px) {
  .sp__2--sm { display: block; height: 20px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__2--md { display: block; height: 20px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__2--lg { display: block; height: 20px; }
}
@media (min-width: 1601px) {
  .sp__2--xlg { display: block; height: 20px; }
}
@media (max-width: 600px) {
  .sp__3--sm { display: block; height: 30px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__3--md { display: block; height: 30px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__3--lg { display: block; height: 30px; }
}
@media (min-width: 1601px) {
  .sp__3--xlg { display: block; height: 30px; }
}
@media (max-width: 600px) {
  .sp__4--sm { display: block; height: 40px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__4--md { display: block; height: 40px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__4--lg { display: block; height: 40px; }
}
@media (min-width: 1601px) {
  .sp__4--xlg { display: block; height: 40px; }
}
@media (max-width: 600px) {
  .sp__5--sm { display: block; height: 50px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__5--md { display: block; height: 50px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__5--lg { display: block; height: 50px; }
}
@media (min-width: 1601px) {
  .sp__5--xlg { display: block; height: 50px; }
}
@media (max-width: 600px) {
  .sp__6--sm { display: block; height: 60px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__6--md { display: block; height: 60px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__6--lg { display: block; height: 60px; }
}
@media (min-width: 1601px) {
  .sp__6--xlg { display: block; height: 60px; }
}
@media (max-width: 600px) {
  .sp__7--sm { display: block; height: 70px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__7--md { display: block; height: 70px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__7--lg { display: block; height: 70px; }
}
@media (min-width: 1601px) {
  .sp__7--xlg { display: block; height: 70px; }
}
@media (max-width: 600px) {
  .sp__8--sm { display: block; height: 80px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__8--md { display: block; height: 80px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__8--lg { display: block; height: 80px; }
}
@media (min-width: 1601px) {
  .sp__8--xlg { display: block; height: 80px; }
}
@media (max-width: 600px) {
  .sp__9--sm { display: block; height: 90px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__9--md { display: block; height: 90px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__9--lg { display: block; height: 90px; }
}
@media (min-width: 1601px) {
  .sp__9--xlg { display: block; height: 90px; }
}
@media (max-width: 600px) {
  .sp__10--sm { display: block; height: 100px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__10--md { display: block; height: 100px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__10--lg { display: block; height: 100px; }
}
@media (min-width: 1601px) {
  .sp__10--xlg { display: block; height: 100px; }
}
@media (max-width: 600px) {
  .sp__11--sm { display: block; height: 110px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__11--md { display: block; height: 110px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__11--lg { display: block; height: 110px; }
}
@media (min-width: 1601px) {
  .sp__11--xlg { display: block; height: 110px; }
}
@media (max-width: 600px) {
  .sp__12--sm { display: block; height: 120px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__12--md { display: block; height: 120px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__12--lg { display: block; height: 120px; }
}
@media (min-width: 1601px) {
  .sp__12--xlg { display: block; height: 120px; }
}
@media (max-width: 600px) {
  .sp__13--sm { display: block; height: 130px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__13--md { display: block; height: 130px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__13--lg { display: block; height: 130px; }
}
@media (min-width: 1601px) {
  .sp__13--xlg { display: block; height: 130px; }
}
@media (max-width: 600px) {
  .sp__14--sm { display: block; height: 140px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__14--md { display: block; height: 140px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__14--lg { display: block; height: 140px; }
}
@media (min-width: 1601px) {
  .sp__14--xlg { display: block; height: 140px; }
}
@media (max-width: 600px) {
  .sp__15--sm { display: block; height: 150px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__15--md { display: block; height: 150px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__15--lg { display: block; height: 150px; }
}
@media (min-width: 1601px) {
  .sp__15--xlg { display: block; height: 150px; }
}
@media (max-width: 600px) {
  .sp__16--sm { display: block; height: 160px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__16--md { display: block; height: 160px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__16--lg { display: block; height: 160px; }
}
@media (min-width: 1601px) {
  .sp__16--xlg { display: block; height: 160px; }
}
@media (max-width: 600px) {
  .sp__17--sm { display: block; height: 170px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__17--md { display: block; height: 170px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__17--lg { display: block; height: 170px; }
}
@media (min-width: 1601px) {
  .sp__17--xlg { display: block; height: 170px; }
}
@media (max-width: 600px) {
  .sp__18--sm { display: block; height: 180px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__18--md { display: block; height: 180px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__18--lg { display: block; height: 180px; }
}
@media (min-width: 1601px) {
  .sp__18--xlg { display: block; height: 180px; }
}
@media (max-width: 600px) {
  .sp__19--sm { display: block; height: 190px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__19--md { display: block; height: 190px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__19--lg { display: block; height: 190px; }
}
@media (min-width: 1601px) {
  .sp__19--xlg { display: block; height: 190px; }
}
@media (max-width: 600px) {
  .sp__20--sm { display: block; height: 200px; }
}
@media (min-width: 601px) and (max-width: 767px) {
  .sp__20--md { display: block; height: 200px; }
}
@media (min-width: 768px) and (max-width: 1600px) {
  .sp__20--lg { display: block; height: 200px; }
}
@media (min-width: 1601px) {
  .sp__20--xlg { display: block; height: 200px; }
}
.section { padding-top: 26px; }
.section__centered { align-items: center; justify-content: center; display: flex; }
.section__bg { padding-top: 0px; padding-bottom: 26px; position: relative; }
.section__bg > * { position: relative; z-index: 1; }
.section__bg::before { content: " "; position: absolute; display: block; top: 0px; left: 0px; bottom: 0px; right: 0px; background: rgb(235, 238, 241) none repeat scroll 0% 0%; border-radius: 4px; transition: background 0.3s ease 0s; z-index: 0; }
.intercom-align-right { text-align: right ! important; }
.intercom-align-center { text-align: center ! important; }
.intercom-align-left { text-align: left ! important; }
.intercom-align-left .intercom-h2b-button { margin-left: 0px ! important; }
.right-to-left .intercom-align-right, [dir="rtl"] .intercom-align-right { text-align: left ! important; }
.right-to-left .intercom-align-left, [dir="rtl"] .intercom-align-left { text-align: right ! important; }
[dir="rtl"] .intercom-align-left, .right-to-left .intercom-align-left { text-align: right ! important; }
[dir="rtl"] li, .right-to-left li { text-align: right ! important; direction: rtl; }
[dir="rtl"] .intercom-align-left img, .right-to-left .intercom-align-left img, [dir="rtl"] .intercom-align-left .intercom-h2b-button, .right-to-left .intercom-align-left .intercom-h2b-button { margin-left: 0px ! important; }
.intercom-attachment, .intercom-attachments, .intercom-attachments td, .intercom-attachments th, .intercom-attachments tr, .intercom-attachments tbody, .intercom-attachments .icon, .intercom-attachments .icon img { border: medium none ! important; box-shadow: none ! important; padding: 0px ! important; margin: 0px ! important; }
.intercom-attachments { margin: 10px 0px ! important; }
.intercom-attachments .icon, .intercom-attachments .icon img { width: 16px ! important; height: 16px ! important; }
.intercom-attachments .icon { padding-right: 5px ! important; }
.intercom-attachment { display: inline-block ! important; margin-bottom: 5px ! important; }
.intercom-force-break { word-wrap: break-word; }
.link__arrow { position: relative; font-size: 14px; text-decoration: none; display: inline-block; color: rgb(143, 145, 157); margin: 0px 7px 7px 0px; padding-right: 16px; top: -6px; }
.link__arrow a { color: rgb(79, 94, 107); text-decoration: none; }
.link__arrow a:hover { color: rgb(36, 42, 48); }
.link__arrow::before { content: " "; position: absolute; display: block; top: 50%; margin-top: -5px; right: 0px; width: 7px; height: 12px; font-size: 36px; color: rgb(172, 184, 194); background: transparent url('OfkjF34rRv1vfuReIauDl5WlLitejy3VnAHtSsjA994UIwAAAABJRU5ErkJggg==') no-repeat scroll 0% 0% / 100% auto; }
.link__arrow:last-child::before { display: none; }
.link__arrow.o__rtl { margin: 0px 0px 7px 7px; padding-right: 0px; padding-left: 16px; }
.link__arrow.o__rtl::before { right: auto; left: 0px; transform: scaleX(-1); }
.header { color: white; padding: 35px 0px; margin-bottom: 7px; flex: 0 0 auto; position: relative; z-index: 10; background-size: cover; box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2); background-position: 50% center; }
.header::before, .header::after { content: " "; display: table; }
.header::after { clear: both; }
.header__meta_wrapper { margin-bottom: 15px; line-height: 1; }
.header__logo { font-size: 16px; text-decoration: none; font-weight: 600; position: relative; z-index: 2; }
.header__logo img { max-width: 360px; max-height: 35px; vertical-align: baseline; transform: translateZ(0px); }
.header__logo a { display: inline-block; text-decoration: none; }
.header__headline { font-size: 28px; font-weight: 300; margin: 0px 0px 27px; color: inherit; }
.animation__header-lite .header, .header__lite .header { padding: 25px 0px; }
.animation__header-lite .header__form.header__form, .header__lite .header__form.header__form { width: 100%; }
.animation__header-lite .search__input, .header__lite .search__input { padding-top: 16px; padding-bottom: 16px; }
.animation__header-lite .header__logo, .header__lite .header__logo { width: 200px; margin-bottom: 0px ! important; }
.animation__header-lite .header__name, .header__lite .header__name { position: absolute; top: 50%; transform: translate(0px, -50%); }
@media (max-width: 900px) {
  .animation__header-lite .header__form.header__form, .header__lite .header__form.header__form { width: 100%; }
}
.header__lite .header__logo { margin: 0px; }
.header__lite .header__form.header__form { margin-left: auto; float: right; }
.header__lite .header__container.o__rtl .header__form.header__form { float: left; }
@media (max-width: 900px) {
  .header__lite .header__logo { margin-bottom: 30px; }
  .header__lite .header__form.header__form { float: none; margin-top: 20px; }
  .header__lite .header__container { display: block; }
}
@media (max-width: 600px) {
  .header__search-input { font-size: 16px; padding: 18px 65px 18px 18px; }
}
.header__home__url { width: auto; }
.header__home__url:hover a { color: rgb(233, 243, 255); }
.header__home__url:hover svg * { stroke: rgb(233, 243, 255); }
.header__home__url svg { width: 13px; height: 13px; margin-right: 8px; vertical-align: middle; }
.header__home__url span { font-size: 15px; display: inline-block; vertical-align: middle; }
@media only screen and (max-width: 900px) {
  .header__home__url { position: absolute; top: 10px; right: 20px; }
  .header__home__url span { font-size: 13px; }
  .header__home__url svg { width: 11px; height: 11px; }
}
@media (max-width: 170px) {
  .header__home__url { display: none; }
}
.header.o__mobile_embedded { padding-top: 20px; padding-bottom: 20px; }
.header.o__mobile_embedded .header__meta_wrapper, .header.o__mobile_embedded .header__headline { display: none; }
.footer { margin-top: 35px; padding: 40px 0px; text-align: left; font-size: 14px; flex: 0 0 auto; background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(163, 171, 181); }
.footer a { color: rgb(144, 154, 165); text-decoration: none; }
.footer__logo { height: 50px; line-height: 30px; text-align: center; vertical-align: middle; }
.footer__logo img { max-height: 32px; filter: grayscale(100%) contrast(80%); }
.footer__logo span { line-height: 1.2; font-size: 18px; }
.footer__advert { text-align: center; font-size: 14px; }
.footer__advert img { height: 14px; vertical-align: middle; }
.footer__advert a { padding-left: 5px; color: rgb(168, 182, 194); vertical-align: middle; }
.footer__links { margin-top: 14px; margin-bottom: 28px; }
.footer__link-list { padding: 0px; text-align: center; }
.footer__link { display: inline-block; margin-left: 10px; margin-right: 10px; list-style-type: none; }
.footer__links__social svg { width: 16px; height: 16px; fill: currentcolor; }
.paper { background-color: white; border-radius: 4px; padding: 30px; position: relative; z-index: 3; text-decoration: none; overflow: hidden; width: 100%; display: block; outline: medium none; box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.03); border: 1px solid rgb(212, 218, 223); transition: border 0.15s linear 0s, transform 0.15s linear 0s, background-color 0.15s linear 0s, box-shadow 0.15s linear 0s, opacity 0.15s linear 0s, -webkit-transform 0.15s linear 0s; }
.paper .c__primary { transition: -webkit-filter 0.15s ease 0s; }
.paper__article-preview { box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.05); border: 1px solid rgb(212, 218, 223); margin-left: 30px; margin-right: 30px; width: calc(100% - 60px); opacity: 1; transition: opacity 0.3s ease 0s; }
.paper__article-preview:not(:last-child) { border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; }
.paper__article-preview .paper__article-preview .paper__preview { min-height: 0px; }
.paper__article-preview:hover { border: 1px solid rgb(195, 205, 213); box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.08); }
.search__results-content .paper__article-preview { margin: 0px; width: 100%; }
.paper__article-preview + .paper__article-preview { margin-top: -2px; border-top-left-radius: 0px; border-top-right-radius: 0px; }
a.paper:hover { border: 1px solid rgba(136, 149, 162, 0.35); background-color: rgb(252, 252, 252); }
a.paper:hover .c__primary { filter: brightness(80%); }
.paper__large { padding: 60px; }
.paper__preview { margin: 5px 0px 11px; text-decoration: none; display: block; max-width: 630px; line-height: 1.4; }
.article__preview .paper__preview { min-height: 0px; }
@media (max-width: 1023px) {
  .g__c { width: 100%; }
  .paper { padding: 30px 20px; }
  .paper__large { padding: 30px; }
}
@media (max-width: 600px) {
  .paper__large { padding: 25px 20px; }
}
.avatar { font-size: 13px; color: rgb(143, 145, 157); margin-top: 4px; }
.avatar::before, .avatar::after { content: " "; display: table; }
.avatar::after { clear: both; }
.avatar__image { width: 32px; height: 32px; vertical-align: bottom; border-radius: 50%; box-shadow: 0px 0px 0px 2px white; position: relative; z-index: 4; }
.avatar__fallback { display: inline-block; text-align: center; line-height: 32px; font-size: 18px; font-weight: bold; color: white; }
.avatar__photo { margin-right: 10px; float: left; }
.avatar__photo.o__rtl { margin-right: auto; margin-left: 10px; float: right; }
.avatar__image:nth-child(n+2) { margin-left: -8px; }
.avatar__image:nth-child(2) { z-index: 3; opacity: 0.8; }
.avatar__image:nth-child(3) { z-index: 2; opacity: 0.6; }
.avatar__image:nth-child(4) { z-index: 1; opacity: 0.4; }
.avatars__images.o__rtl .avatar__image:nth-child(n+2) { margin-left: 0px; margin-right: -8px; }
.avatar__info, .avatar__photo { line-height: 1.4; }
@media (max-width: 1023px) {
  .avatar__image:nth-child(n+2) { display: none; }
}
@media (max-width: 400px) {
  .avatar__info { float: right; width: calc(100% - 42px); }
}
.article { font-size: 17px; line-height: 1.53; }
.article__meta { margin-bottom: 30px; }
.article__desc { font-size: 20px; line-height: 1.35; margin-bottom: 17px; color: rgb(143, 145, 157); }
article { font-size: 17px; color: rgb(86, 88, 103); }
article p { margin-top: 0px; }
article h1 { font-size: 32px; margin: 2em 0px 1.2em; line-height: 1.24; }
article h2 { font-size: 22px; margin: 0px 0px 17px; line-height: 1.24; }
article h3 { font-size: 18px; margin: 0px 0px 16px; font-weight: 600; line-height: 1.24; }
article h4 { font-size: 18px; margin: 0px 0px 15px; font-weight: 600; line-height: 1.24; }
article h5 { font-size: 14px; margin: 1.2em 0px 0.8em; line-height: 1.24; }
article h6 { font-size: 13px; margin: 1em 0px 0.5em; line-height: 1.24; }
article a { text-decoration: underline; }
article a:hover { text-decoration: none; }
article ul, article ol { padding-left: 16px; margin-bottom: 27px; }
article li { margin-left: 15px; margin-bottom: 5px; }
article li:last-child { margin-bottom: 0px; }
article img, article video, article iframe { margin-top: 0px; margin-bottom: 34px; }
article a:hover { text-decoration: none; filter: brightness(80%); }
article a.intercom-h2b-button { display: inline-block; font-weight: bold; color: rgb(255, 255, 255); background-color: rgb(222, 44, 222); text-align: center; box-sizing: border-box; border-radius: 4px; padding: 8px 40px; font-size: 17px; line-height: 1.4; text-decoration: none; filter: brightness(100%); margin: 0px 15.27% 17px; }
article .intercom-h2b-video { position: relative; display: block; margin: 0px 0px 40px; height: 0px; overflow: hidden; padding: 0px 0px 56.25%; }
article .intercom-h2b-video iframe, article .intercom-h2b-video embed, article .intercom-h2b-video object, article .intercom-h2b-video video { position: absolute; margin: 0px; top: 0px; left: 0px; bottom: 0px; height: 100%; width: 100%; border: 0px none; }
article > .intercom-container:first-child > :first-child, article > :first-child { margin-top: 0px ! important; }
article > .intercom-container:last-child > :last-child, article > :last-child { margin-bottom: 0px ! important; }
@media (max-width: 600px) {
  .article__desc { font-size: 17px; }
  article { font-size: 15px; }
  article h1 { font-size: 28px; }
  article h2 { font-size: 22px; }
  article h3 { font-size: 18px; }
  article h4 { font-size: 18px; }
  article h5 { font-size: 16px; }
  article h6 { font-size: 14px; }
  article .intercom-container, article .intercom-h2b-video { margin: 1.5em 0px; }
}
.search { position: relative; }
.search__input { width: 100%; padding: 20px 32px 21px 59px; background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%; border: medium none; outline: medium none; color: rgba(255, 255, 255, 0.7); font-size: 18px; border-radius: 4px; box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.03); transition: background 0.4s ease 0s, box-shadow 0.2s ease 0s; }
.search__input:-moz-placeholder { color: inherit; }
.search__input::-moz-placeholder { color: inherit; }
.search__input:hover { background: rgba(255, 255, 255, 0.27) none repeat scroll 0% 0%; box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03); }
.search__input:active, .search__input:focus { box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.14); background: white none repeat scroll 0% 0%; color: rgb(58, 60, 76); }
.search__input:active:-moz-placeholder, .search__input:focus:-moz-placeholder { color: rgb(159, 160, 168); }
.search__input:active::-moz-placeholder, .search__input:focus::-moz-placeholder { color: rgb(159, 160, 168); }
.search__input.o__rtl { padding: 20px 59px 21px 32px; }
.search__submit { width: 22px; height: 22px; border: medium none; background: transparent none repeat scroll 0% 0%; position: absolute; top: 50%; left: 19px; margin-top: -10px; outline: medium none; cursor: pointer; transition: transform 0.1s linear 0s, -webkit-transform 0.1s linear 0s; }
.animation__header-lite .search__submit, .page__header-lite .search__submit, .header__lite .search__submit { transform: scale(0.85); }
.search__submit::before { content: " "; border: 2px solid white; border-radius: 50%; position: absolute; top: 0px; left: 0px; width: 16px; height: 16px; }
.search__submit::after { content: " "; border-top: 2px solid white; position: absolute; bottom: 8px; right: 8px; width: 12px; height: 1px; transition: width 0.1s linear 0s; transform-origin: 100% 50% 0px; transform: rotate(-135deg); }
.search__submit.o__rtl { left: auto; right: 19px; }
.search__headline { padding: 16px 0px 11px; margin: -5px 0px; color: rgb(58, 60, 76); font-weight: 600; letter-spacing: 0.02em; font-size: 18px; }
.search__clear-text__icon { position: absolute; right: 0px; top: 50%; width: 32px; height: 32px; box-sizing: border-box; margin-top: -14px; }
.interface-icon { width: 25px; height: 25px; display: inline-block; vertical-align: middle; text-align: center; }
.interface-icon path { fill: rgb(159, 160, 168) ! important; fill-opacity: 0.01; }
.search__input:focus + .search_icons .search__submit, .search__input:active + .search_icons .search__submit { pointer-events: none; }
.search__input:focus + .search_icons .search__submit::before, .search__input:focus + .search_icons .search__submit::after, .search__input:active + .search_icons .search__submit::before, .search__input:active + .search_icons .search__submit::after { border-color: rgb(159, 160, 168); }
.search__input:focus + .search_icons .icon__visible path, .search__input:active + .search_icons .icon__visible path { fill-opacity: 1; }
.search__loading { opacity: 0; transition: opacity 0.2s ease-out 0s; }
.search__results { opacity: 1; animation-name: fadeInOpacity; animation-iteration-count: 1; animation-timing-function: ease-in; animation-duration: 0.2s; }
.collection { position: relative; padding-left: 150px; }
.collection__photo { position: absolute; left: 0px; top: 0px; width: 120px; height: 100%; transition: all 0.3s linear 0s; }
.collection__photo svg { position: relative; width: 48px; height: 48px; transition: stroke 0.1s linear 0s; top: 50%; left: 50%; margin: -24px 0px 0px -24px; }
.collection__photo [fill^="#"] { transition: fill 0.1s linear 0s; }
.collection.o__rtl { padding-left: 0px; padding-right: 150px; }
.collection.o__rtl .collection__photo { left: auto; right: 0px; }
a.paper:hover .collection__photo { border-color: rgb(208, 215, 223); }
.collection__meta .avatar__image { box-shadow: 0px 0px 0px 2px rgb(235, 238, 241); }
@media (max-width: 1023px) {
  .collection { padding-left: 80px; min-height: 80px; }
  .collection.o__rtl { padding-left: 0px; padding-right: 80px; }
  .collection__photo { width: 60px; height: 60px; }
  .collection__photo svg { width: 30px; max-height: 30px; margin: -15px 0px 0px -15px; }
}
@media (max-width: 400px) {
  .collection { padding-left: 0px; min-height: 0px; }
  .collection.o__rtl { padding-right: 0px; text-align: right; }
  .collection__photo { width: 30px; height: 30px; position: static; margin-bottom: 20px; }
  .collection__photo svg { width: 30px; max-height: 30px; left: auto; top: auto; margin: 0px; }
  .collection.o__rtl .collection__photo { display: inline-block; }
}
.collection__headline, .paper__stack.animation__clicked { background: transparent none repeat scroll 0% 0%; box-shadow: none; border: 1px solid transparent; border-radius: 0px; }
.collection__headline::before, .collection__headline::after, .paper__stack.animation__clicked::before, .paper__stack.animation__clicked::after { display: none; }
.collection__headline .paper, .paper__stack.animation__clicked .paper { background: transparent none repeat scroll 0% 0%; border: medium none; box-shadow: none; }
.section__headline { padding: 16px 30px 11px; margin: -5px 0px; color: rgb(58, 60, 76); font-weight: 600; letter-spacing: 0.02em; font-size: 18px; }
@media (max-width: 1023px) {
  .section__headline { padding-left: 20px; padding-right: 20px; margin-left: 10px; margin-right: 10px; }
}
.collection__header + .section__headline .section__content { border-top: medium none; }
pre { word-wrap: break-word; padding: 10px; margin: 1em 0px; line-height: 1.65; border: 1px solid rgb(234, 234, 234); color: rgb(51, 51, 51); background: rgb(248, 248, 248) none repeat scroll 0% 0%; overflow: auto; }
code { color: rgb(51, 51, 51); background: rgb(248, 248, 248) none repeat scroll 0% 0%; padding-top: 0.2em; padding-bottom: 0.2em; }
code::before, code::after { letter-spacing: -0.2em; content: " "; }
pre, code { font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace; font-size: 13px; }
.hljs { display: block; padding: 1.5em; color: rgb(51, 51, 51); background: rgb(248, 248, 248) none repeat scroll 0% 0%; }
.hljs code { padding-top: 0px; padding-bottom: 0px; background: transparent none repeat scroll 0% 0%; }
.hljs code::before, .hljs code::after { letter-spacing: normal; content: normal; }
code.hljs { display: inline-block; padding-top: 0px; padding-bottom: 0px; background: transparent none repeat scroll 0% 0%; }
code.hljs::before, code.hljs::after { letter-spacing: normal; content: normal; }
p + code.hljs { display: block; }
.hljs-comment, .diff .hljs-header { color: rgb(153, 153, 136); font-style: italic; }
.hljs-keyword, .css .rule .hljs-keyword, .hljs-winutils, .nginx .hljs-title, .hljs-subst, .hljs-request, .hljs-status { color: rgb(51, 51, 51); font-weight: bold; }
.hljs-number, .hljs-hexcolor, .ruby .hljs-constant { color: rgb(0, 128, 128); }
.hljs-string, .hljs-tag .hljs-value, .hljs-doctag, .tex .hljs-formula { color: rgb(221, 17, 68); }
.hljs-title, .hljs-id, .scss .hljs-preprocessor { color: rgb(153, 0, 0); font-weight: bold; }
.hljs-list .hljs-keyword, .hljs-subst { font-weight: normal; }
.hljs-class .hljs-title, .hljs-type, .vhdl .hljs-literal, .tex .hljs-command { color: rgb(68, 85, 136); font-weight: bold; }
.hljs-tag, .hljs-tag .hljs-title, .hljs-rule .hljs-property, .django .hljs-tag .hljs-keyword { color: rgb(0, 0, 128); font-weight: normal; }
.hljs-attribute, .hljs-variable, .lisp .hljs-body, .hljs-name { color: rgb(0, 128, 128); }
.hljs-regexp { color: rgb(0, 153, 38); }
.hljs-symbol, .ruby .hljs-symbol .hljs-string, .lisp .hljs-keyword, .clojure .hljs-keyword, .scheme .hljs-keyword, .tex .hljs-special, .hljs-prompt { color: rgb(153, 0, 115); }
.hljs-built_in { color: rgb(0, 134, 179); }
.hljs-preprocessor, .hljs-pragma, .hljs-pi, .hljs-doctype, .hljs-shebang, .hljs-cdata { color: rgb(153, 153, 153); font-weight: bold; }
.hljs-deletion { background: rgb(255, 221, 221) none repeat scroll 0% 0%; }
.hljs-addition { background: rgb(221, 255, 221) none repeat scroll 0% 0%; }
.diff .hljs-change { background: rgb(0, 134, 179) none repeat scroll 0% 0%; }
.hljs-chunk { color: rgb(170, 170, 170); }
.social__facebook { display: inline-block; vertical-align: bottom; }
.social__facebook svg { height: 16px; }
.social__facebook * { fill: rgb(150, 164, 180); }
.social__twitter { display: inline-block; vertical-align: bottom; position: relative; top: 1px; }
.social__twitter svg { height: 16px; }
.social__twitter * { fill: rgb(150, 164, 180); }
.social__linkedin { display: inline-block; vertical-align: bottom; margin: 0px 5px 0px 3px; }
.social__linkedin svg { height: 16px; }
.social__linkedin * { fill: rgb(150, 164, 180); }
.social__facebook:hover *, .social__twitter:hover *, .social__linkedin:hover * { fill: rgb(120, 138, 159); }
.error__404 { text-align: center; }
.error__title { font-size: 13px; text-transform: uppercase; letter-spacing: 0.1em; color: rgb(224, 78, 80); font-weight: 600; }
.error__headline { font-size: 32px; }
.notification__error { position: fixed; top: 0px; left: 0px; right: 0px; background: rgb(158, 71, 71) none repeat scroll 0% 0%; color: white; text-align: center; padding: 5px 20px; font-size: 13px; z-index: 100; }
.breadcrumb { position: relative; z-index: 11; }
.body__headerless .breadcrumb { display: none; }
.body__headerless .section { margin-right: auto; margin-left: auto; }
.body__headerless .container { padding: 0px; }
.body__headerless .paper { margin-bottom: 35px; }
.intercom-reaction-picker { backface-visibility: hidden; padding: 5px; text-align: center; color: rgb(119, 119, 119); background-color: rgb(240, 243, 245); margin: 60px -60px -60px; }
@media (max-width: 1023px) {
  .intercom-reaction-picker { margin: 30px -30px -30px; }
}
@media (max-width: 600px) {
  .intercom-reaction-picker { margin: 25px -20px -25px; }
}
.intercom-reaction-picker.intercom-reaction-picker-with-prompt { height: 74px; }
.intercom-reaction-picker .intercom-reaction-prompt { padding-top: 9px; padding-bottom: 4px; text-align: center; }
.intercom-reaction-picker .intercom-reaction { width: 50px; height: 100%; display: inline-block; text-align: center; font-size: 32px; transition: transform 0.16s cubic-bezier(0.65, 0.61, 0.18, 1.8) 0.02s, filter 0.32s linear 0s, -webkit-transform 0.16s cubic-bezier(0.65, 0.61, 0.18, 1.8) 0.02s, -webkit-filter 0.32s linear 0s; cursor: pointer; transform-origin: 50% 60% 0px; }
.intercom-reaction-picker .intercom-reaction span { cursor: pointer; line-height: 55px; }
.intercom-reaction-picker .intercom-reaction:hover { transform: scale(1.32); transition: transform 0.04s ease 0s, -webkit-transform 0.04s ease 0s; }
.intercom-reaction-picker .intercom-reaction:active { transform: scale(1.4); transition: transform 0.04s ease 0s, -webkit-transform 0.04s ease 0s; }
.intercom-reaction-picker-reaction-selected .intercom-reaction { filter: grayscale(100%); }
.intercom-reaction-picker-reaction-selected .intercom-reaction-selected { filter: grayscale(0%); transform: scale(1.32); }
.intercom-reaction-picker-reaction-selected .intercom-reaction-selected:hover { transform: scale(1.32); }
.intercom-reaction-picker-reaction-selected .intercom-reaction-selected:active { transform: scale(1.32); }
.intermoji-default-class { background: transparent url('emoji-spritemap-32-74b6b4a70495efdee823c8a30dd947fd86cef958575acdade48c71bb45e1f57d.png') repeat scroll 0% 0%; position: relative; top: 2px; margin: 1px; }
.animation__mouse-down { transform: scale(0.99); transition: none 0s ease 0s ; }
.animation__mouse-up { transform: scale(1); transition: none 0s ease 0s ; }
.animation__fade-generic { transition: opacity 0.3s ease 0s; }
.animation__slide-in .animation__fade-generic { opacity: 0; }
.animation__fade-collection { transition: opacity 0.3s ease 0.5s; }
.animation__article-in .animation__fade-generic, .animation__article-in .article__wrap > * { opacity: 0; transition-delay: 0s; }
.animation__article-in .paper__article-preview { opacity: 0; transition: opacity 0.1s ease 0s; }
.animation__article-in .paper__article-preview.animation__clicked { opacity: 1; }
.animation__article-in .paper__article-preview.animation__clicked .article__preview { opacity: 0; transition: opacity 0.1s ease 0s; }
.collection__headline-lite .collection__photo, .animation__article-in .collection__photo { transition: all 0.2s ease 0s; border-right-color: transparent; transform: scale(0.6) translate(20px, -100px); }
.collection__headline-lite .collection__name, .animation__article-in .collection__name { transition: all 0.2s ease 0s; transform-origin: left center 0px; transform: scale(0.8) translate(-60px, -13px); }
.collection__headline-lite .collection__headline, .animation__article-in .collection__headline { border-bottom-color: transparent; }
.collection__headline-lite .collection .animation__fade-generic, .animation__article-in .collection .animation__fade-generic { opacity: 0; }
.animation__article-out .collection__photo { transition: all 0.2s ease 0s; border-right-color: rgb(219, 224, 228); transform: scale(1) translate(0px, 0px); }
.animation__article-out .collection__name { transition: all 0.2s ease 0s; transform-origin: left center 0px; transform: scale(1) translate(0px, 0px); }
.animation__article-out .collection .animation__fade-generic { opacity: 1; }
.animation__article-out .article__wrap-react { opacity: 0; }
.animation__article-out .section__bg-active::before { transform: scale(1); }
.animation__article-in .section__bg::before, .section__bg-active::before { transition: all 0.2s ease 0s; transform: scaleX(0.9); height: 180px; }
.animation__section-bg-static .section__bg::before { transition: none 0s ease 0s ; }
.article__wrap-react { transform-origin: center top 0px; margin: -125px 30px 0px; width: calc(100% - 60px); }
.collection__headline-lite a.paper:hover { border: 1px solid transparent; background: transparent none repeat scroll 0% 0%; }
.collection__headline-lite a.paper:hover .collection__photo { border-color: transparent; background: transparent none repeat scroll 0% 0%; }
.collection__photo svg { stroke: rgb(129, 138, 151); }
.collection__photo [fill^="#"] { fill: rgb(129, 138, 151); }
.avatar__image-extra, .header { background-color: rgb(31, 141, 237); }
.c__primary, .article a { color: rgb(31, 141, 237); }

/* ::::: null ::::: */

.header, .avatar__image-extra { background-color: rgb(36, 129, 215); }
.article a, .c__primary { color: rgb(36, 129, 215); }
.avatar__fallback { background-color: rgb(36, 129, 215); }
article a.intercom-h2b-button { background-color: rgb(36, 129, 215); border: 0px none; }
.header { background-image: url('header-blue.png'); }
