@{
    ViewData["Title"] = "Contact";
}

<h1 class="page-header">Anfrage einreichen</h1>

<div align="center">
    <form class="anfrageForm" accept-charset="UTF-8" method="post">

        <div style="width:10.5cm">

            <input type="text" placeholder="Anmeldename*" class="form-control">
            <br />
        </div>


        <div style="width:10.5cm">

            <input type="text" placeholder="Betreff*" class="form-control">
        </div>

        <div style="width:10.5cm">

            <br />
            <textarea type="text" placeholder="Beschreibung*" class="form-control2"></textarea>

            <p class="beschreibungText">Geben Sie Details zu Ihrer Anfrage ein. </p>
        </div>

        <footer><a href="#" class="btn btn-default">Einreichen</a></footer>

    </form>
</div>